body {
  font-family: 'Share Tech Mono', sans-serif;
  background-color: black;
  color: #FFD540;
  font-size: 20px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 15px;
}

h1 {
  font-size: 36px;
}

h2::before {
  content: '# ';  
}

h2 {
  font-size: 28px;
  padding-bottom: 16px;
}

a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFD540;
  margin: 50px;
}

a::before {
  position: absolute;
  top: 0;
  left: -25px;
  content: '<';
  transition: left 0.4s;
}

a::after {
  position: absolute;
  top: 0;
  right: -25px;
  content: '>';
  transition: right 0.4s;
}

a:hover::before, a:focus::before {
  left: -50px;
  transition: left 0.2s;
}

a:hover::after, a:focus::after {
  right: -50px;
  transition: right 0.2s;
}

a:hover, a:focus {
  color: #FFD540;
  text-decoration: none;
}

.menu {
  font-size: 32px;
  border-bottom: 2px solid #FFD540;
  border-top: 2px solid #FFD540;
  padding: 15px 0;
  display: flex;
  justify-content: stretch;
  align-items: flex-center;
  flex-wrap: wrap;
  width: 100%;
}

.menu .title {
  min-width: 450px;
  text-align: left;
  margin: 0;
  border-right: 2px dashed #FFD540
}

.menu ul {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-center;
}

 li {
  list-style: none;
}

.section {
  margin: 30px 0;
  padding: 15px;
  border-bottom: 1px dashed #FFD540;
  min-height: 500px;
}

p {
  margin-top: 15px;
}

.profile {
  position: relative; 
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.profile > * {
  position: absolute;
  height: 150px;
  width: 150px;
}

.profile .profile-preview {
  transition: left 0.4s;
  left: 0px;
}

.profile .profile-original {
  transition: right 0.4s;
  right: 150px;
}

.profile:hover .profile-preview {
  left: 150px;
}

.profile:hover .profile-original {
  right: 0px;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: flex-center;
    flex-wrap: wrap;
    width: 100%;
}

.projects > li {
    border: 2px solid #FFD540;
    flex-grow: 1;
    max-width: 45%;
}

.project-title {
    text-align: center;
    background-color: #FFD540;
    padding: 5px;
}

.project-title > a {
    color: black;
}

.project-body {
    padding: 5px;
}