body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
  color: #FFD540;
  font-size: 14px;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  padding-bottom: 24px;
}

h2::before {
  content: '#';  
}

h2 {
  font-size: 24px;
  padding-bottom: 16px;
}

h3 {
  font-size: 16px;
  padding-bottom: 5px;
}

a {
  text-transform: uppercase;
  font-family: 'Share Tech Mono', sans-serif;
  color: #FFD540;
}

a::before {
  content: '<';
}

a::after {
  content: '>';
}

a:hover {
  color: #FFD540;
}

.menu {
  font-size: 32px;
  border-bottom: 2px solid #FFD540;
  border-top: 2px solid #FFD540;
  padding: 15px 0;
  text-align: center;
}